:root{ /*Variables*/
  --dark-blue: #1a29f7;  
  --soft-blue: #1a94f7;
  --ligth-blue: #cae7ff;
  --ligth-gray: rgb(235, 235, 235); 
}
*{ /*Quitar configuraciones por defecto del navegador*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.7%; /*?para hacer uso del rem y no de px*/
  font-family: 'Quicksand', sans-serif; /*Font por defecto*/
  /*font-family: 'Inter', sans-serif; */
  scroll-behavior: smooth;
}

#pestanas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* float: top; */
  font-size: 3ex;
  font-weight: bold;
  margin: 0px 30px;
}

#pestanas ul{
  vertical-align: middle;
}

#pestanas li{
  
  list-style-type: none;
  float: left;
  text-align: center;
  vertical-align: bottom;
  margin: 0px 10px;
  padding: 15px 18px;
  font-size: 1.3rem;
}

#pestanas a:link{
  text-decoration: none;
  color: bisque;
}

#contenidopestanas{
  clear: both;
  text-align: center; 
  vertical-align: center;
  padding: 15px;
  border-top-left-radius: 0px;
  border-top: 2px solid #1a29f7;
  border-bottom: 2px solid #1a29f7;
  width: 100%;  
  transition: all 200ms linear;
}
#contenidopestanas img{
  width: 200px;
  margin: 0 auto;
}